<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css">
<script type="text/javascript" src="/webjars/jquery/jquery.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.js"></script>
<head>
<meta charset="utf-8"/>
<title>Manejador de productos</title>
<link rel="icon" href="vise.ico">
</head>
<body>
<div align="center">
        <h1>Listado de Productos</h1>
        <hr>
        <br>
    <div>
        <div>
            <input id="marca" class="text" placeholder="Buscar por marca"></input>
            <button onclick="findBrand()" class="btn btn-warning">Buscar <span class="glyphicon glyphicon-search"></span></button>
        </div>
        <br>
        <div>
            <input id="precio" class="text" placeholder="Buscar por precio"></input>
            <button onclick="findMayor()" class="btn btn-warning">Buscar <span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
    <br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <a href="/new" class="btn btn-info" style="float: right;" role="button">Agregar <span class="glyphicon glyphicon-plus-sign"></span></a>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>IdProducto</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Hecho En</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="producto : ${listProductos}">
                            <td th:text="${producto.idProducto}">Product ID</td>
                            <td th:text="${producto.nombre}">Name</td>
                            <td th:text="${producto.marca}">Brand</td>
                            <td th:text="${producto.hechoEn}">Made in</td>
                            <td th:text="${producto.precio}">Price</td>
                            <td>
                                <a th:href="@{'/edit/' + ${producto.idProducto}}" >Editar</a>
                                &nbsp;&nbsp;&nbsp;
                                <a th:href="@{'/delete/' + ${producto.idProducto}}">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    async function findBrand() {
        const id = document.getElementById("marca").value; 
        const url = `/findByBrand/${id}`;
        //await fetch(url);
        window.location.replace(url);
    };

    async function findMayor(){
        const id = document.getElementById("precio").value; 
        const url = `/findByPrecio/${id}`;
        //await fetch(url);
        window.location.replace(url);
    };
</script>
</body>
</html>